.nav{
	grid-area: n;
	background-color: rgb(214, 229, 247);
	padding: 20px;
	font-family: sans-serif;
}

.item a{
  color: rgb(63, 101, 184);
	text-decoration: none;
}

.item a.activeLink {
	color: gold;
}